<div class="container">

  <h1 class="section-header">Shopper Assignments</h1>

  <%= render 'assignment_collections/form' %>

  <% if false %>
  <%= form_tag assignments_path, method: :post do %>

      <div class="form-group">
        <div class="pull-left">
          <%= text_field_tag :date_filter, params[:date_filter], class: 'form-control datepicker', placeholder: 'dd/mm/yyyy', autocomplete: 'off', readonly: true%>
        </div>
        <%= button_tag(type: 'submit', name: nil, class: 'btn btn-warning btn-min-width') do %>
          <span class="glyphicon glyphicon-plus"></span> Create New
        <% end %>
      </div>

  <% end %>

  <% end %>

  <section id="shopper-assignments-index-content">

  <table class="table table-striped">

    <thead>
    <tr>
      <th>Delivery Date</th>
      <th>Assigned</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @assignment_collections.each do |assignment| %>

        <tr>
          <td><%= link_to format_delivery_date(assignment.delivery_date), assignment_path(assignment) %></td>
          <td>
            <% if assignment.shopper_assignments.empty? %>
                <i class="glyphicon glyphicon-remove-circle"></i> No
            <% else %>
                <i class="glyphicon glyphicon-ok-circle"></i> Yes
            <% end %>
          </td>
          <td>
            <% if is_admin? %>
                <%= link_to assignment_path(assignment), method: :delete, class: 'btn btn-sm btn-default', data:{confirm: 'Really delete shopper assignments for that day?'} do %>
                    <span class="glyphicon glyphicon-remove"></span> Delete
                <% end %>
            <% end %>
          </td>
        </tr>

    <% end %>
    </tbody>
  </table>

  </section>


</div>