<div class="container">

  <h1 class="section-header">Shopper List</h1>

  <table class="table table-striped">

    <thead>
    <tr>
      <th>Id</th>
      <th>Shopper</th>
      <th>Time</th>
      <th>Line Items</th>
      <th>Date</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @shopper_reports.each do |report| %>
        <tr>
          <td><%= report.id  %></td>
          <td><%= report.shopper_name %></td>
          <td><%= report.total_time_in_seconds %></td>
          <td><%= report.line_items_count %></td>
          <td><%= report.created_at %></td>
          <td>
            <% if is_admin? %>
                <%= link_to 'Delete', reports_path, method: :delete, data:{confirm: 'Really delete report?'}, class: 'btn btn-sm btn-danger' %>
            <% end %>
          </td>

        </tr>
    <% end %>
    </tbody>
  </table>

</div>