<div class="container">

  <h1 class="section-header">Shopper Reports</h1>

  <%= form_for(:filter, url: reports_path, method: :get) do |f| %>

      <div class="form-group">
        <div class="col-xs-4">
        <%= f.text_field :password, class: 'form-control', placeholder: 'dd/mm/yyyy', autocomplete: 'off'%>
        </div>
        <%= f.submit('Filter', class: 'btn btn-warning')%>
      </div>

  <% end %>

  <br/><br/>

  <table class="table table-striped">

    <thead>
    <tr>
      <th>Date</th>
      <th>Shopper</th>
      <th>Total Time</th>
      <th>Orders</th>
      <th>Line Items</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @shopper_reports.each do |report| %>
        <tr>
          <td><%= link_to format_report_datetime(report.created_at), report_path(report) %></td>
          <td><%= report.shopper_name.capitalize %></td>
          <td><%= timer_string report.total_time %></td>
          <td><%= report.orders_count %></td>
          <td><%= report.items_count %></td>
          <td>
            <% if is_admin? %>
                <%= link_to 'Delete', reports_path, method: :delete, data:{confirm: 'Really delete report?'}, class: 'btn btn-sm btn-danger' %>
            <% end %>
          </td>

        </tr>
    <% end %>
    </tbody>
  </table>

</div>