<div class="container">

  <h1 class="section-header">Shopper Reports</h1>

  <table class="table table-striped">

    <thead>
    <tr>
      <th>Date</th>
      <th>Shopper</th>
      <th>Total Time</th>
      <th>Orders</th>
      <th>Line Items</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @shopper_reports.each do |report| %>
        <tr>
          <td><%= link_to "#{report.created_at.strftime('%d/%m/%y %H:%M')}", report_path(report) %></td>
          <td><%= report.shopper_name %></td>
          <td><%= report.total_time %></td>
          <td><%= report.orders_count %></td>
          <td><%= report.items_count %></td>
          <td>
            <% if is_admin? %>
                <%= link_to 'Delete', reports_path, method: :delete, data:{confirm: 'Really delete report?'}, class: 'btn btn-sm btn-danger' %>
            <% end %>
          </td>

        </tr>
    <% end %>
    </tbody>
  </table>

</div>