<div class="container">

  <div style="height: 80px">
    <div style="height: 100%; width: 100px; float: left; margin-right: 10px; background-color: #00BE43; text-align: center; padding-top: 10px; color: white; font-size: 1.5em">19-Sept<br/>2015</div>
    <h1>Shopper Report</h1>
    <p style="color: #777777">Uploaded by <strong><%= @shopper_report.shopper_name %></strong> on <%= format_report_date(@shopper_report.created_at) %></p>
  </div>

  <br/></br>

  <!-- Summary of Shop Information -->
  <!-- =========================================================================== -->
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Time</th>
      <th>Orders Count</th>
      <th>Items Count</th>
    </tr>
    </thead>

    <tbody>
    <% @shopper_report.shop_collections.each do |shop| %>
        <tr>
          <td><%= image_tag logo_for_store(shop.name), style: 'height: auto; width: 100px;' %></td>
          <td style="font-weight: bold"><%= timer_string shop.time_taken %></td>
          <td><%= shop.orders_count %></td>
          <td><%= shop.items_count %></td>
        </tr>
    <% end %>
    </tbody>
  </table> <!-- end shop information -->

  <br/><br/>

  <!-- Line Item Details For Each Shop -->
  <!-- =========================================================================== -->
  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <% @shopper_report.shop_collections.each_with_index do |shop, index| %>
          <li role="presentation" class="<%= 'active' if index == 0 %>"><a style="font-size: 1.5em;" href="#<%= shop.name %>" aria-controls="home" role="tab" data-toggle="tab"><%= shop.name %></a></li>
      <% end %>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <br/><br/>
      <% @shopper_report.shop_collections.each_with_index do |shop, index| %>

          <div role="tabpanel" class="<%= index == 0 ? 'tab-pane active' : 'tab-pane' %>" id="<%= shop.name %>">

            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th class="text-center">Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Qty Req.</th>
                <th>Qty Fnd.</th>
                <th>Qty Sub.</th>
                <th>Qty Miss</th>
              </tr>
              </thead>

              <tbody>
              <% shop.line_items.each do |item| %>
                  <tr class="text-center">
                    <td class="text-center"> <img src="<%= item.image_source %>" class="line-item-image"/></td>
                    <td><%= item.title %></td>
                    <td><%= item.description %></td>
                    <td>$<%= item.price %></td>
                    <td style="font-size: 30px; vertical-align: middle"><%= item.quantity_requested %></td>
                    <td style="background-color: #90ea8a; font-size: 30px; vertical-align: middle"><%= item.quantity_found %></td>
                    <td style="background-color: #fffaa5; font-size: 30px; vertical-align: middle"><%= item.quantity_substituted %></td>
                    <td style="background-color: #ff9696; font-size: 30px; vertical-align: middle"><%= item.quantity_missing %></td>
                  </tr>
              <% end %>
              </tbody>

            </table>




          </div>
      <% end %>

    </div>

  </div> <!-- end line item details -->

  <br/><br/>
  <%= link_to 'Back', :back, class: 'btn btn-warning', style: 'min-width: 150px; border-radius:0;' %>

</div>