<div class="container">

  <section id="report-header">
    <div><%= format_report_date(@shopper_report.created_at, separator: "\n") %></div>
    <h1>Shopper Report</h1>
    <p>Uploaded by <strong><%= @shopper_report.shopper_name.capitalize %></strong> on <%= format_report_date(@shopper_report.created_at) %></p>
  </section>

  <%= render 'report_header' %>

  <%= render 'report_shop_details' %>

  <%= link_to 'Back', :back, class: 'btn btn-warning top-bot-margin btn-min-width' %>

</div>