<div class="container">

  <h1 class="section-header">Product Update Requests</h1>

  <section id="product-edits-table">
    <table class="table table-striped">

      <thead>
        <tr class="product-edit-state-header">
          <th colspan="6" class="color-primary">Original Information</th>
          <th colspan="6" class="color-active original-edited-divider">Edited Information</th>
        </tr>
        <tr>
          <th>Uploaded On</th>
          <th>Image</th>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Aisle</th>
          <th class="original-edited-divider">Image</th>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Aisle</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
      <% @product_edits.each do |product_edit| %>
          <tr>
            <!-- Original Product Information -->
            <!-- ============================================================================================================================== -->
            <td><%= "#{format_report_datetime(product_edit.created_at)}" %><br/><strong><%="by #{product_edit.shopper_name.capitalize}" %></strong></td>
            <td>
              <img src="<%= product_edit.image_source %>" class="line-item-image"/>
            </td>
            <td class="<%= product_edit.title_bg_class %>"><%= product_edit.title %></td>
            <td class="<%= product_edit.description_bg_class %>"><%= product_edit.description %></td>
            <td class="<%= product_edit.price_bg_class %>">$<%= product_edit.price %></td>
            <td class="<%= product_edit.aisle_bg_class %>"><%= product_edit.aisle %></td>

            <!-- Edited Product Information -->
            <!-- ============================================================================================================================== -->
            <td class="original-edited-divider <%= product_edit.image_bg_class %>">
              <%= link_to image_tag(product_edit.edited_image_url, alt: product_edit.title, class: 'line-item-image'),
                          product_edit.edited_image_url, target: '_blank' %>
            </td>
            <td class="<%= product_edit.title_bg_class %>"><%= product_edit.title_new %></td>
            <td class="<%= product_edit.description_bg_class %>"><%= product_edit.description_new %></td>
            <td class="<%= product_edit.price_bg_class %>">
              $<%= product_edit.price_new %>
              <% if product_edit.price_new != product_edit.price %>
                <p class="markup-price-font"><%= "($#{product_edit.price_new_markup})" %></p>
              <% end %>
            </td>
            <td class="<%= product_edit.aisle_bg_class %>"><%= product_edit.aisle_new %></td>


            <!-- Buttons -->
            <!-- ============================================================================================================================== -->
            <td>

              <div class="btn-group" role="group">
                <!-- Sync Button -->
                <% if is_admin? && product_edit.fields_to_edit? %>
                  <%= link_to product_edits_sync_path(product_edit, page: params[:page]), method: :post, class: 'btn btn-sm btn-warning' do %>
                    <% if product_edit.updated? %>
                      <span class="glyphicon glyphicon-refresh"></span>
                    <% else %>
                      <span class="glyphicon glyphicon-ok"></span>
                    <% end %>
                  <% end %>
                <% end %>

                <!-- Shopify Url Button -->
                <a href="<%= product_edit.shopify_url %>" class="btn btn-sm btn-default" target="_blank"><span class="glyphicon glyphicon-edit"></span></a>

                <!-- Delete Button -->
                <% if is_admin? %>
                  <%= link_to product_edit_path(product_edit, page: params[:page]), method: :delete, class: 'btn btn-sm btn-default', data:{confirm: 'Really delete product edit request?'} do %>
                      <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                <% end %>
              </div>

              <% if product_edit.updated? %>
                  <p class="product-updated-icon"><span class="glyphicon glyphicon-ok-circle"></span> Updated</p>
              <% end %>

            </td>

          </tr>
      <% end %>
      </tbody>
    </table>

    <%= will_paginate %>

  </section>

</div>