<div class="container">

  <h1 class="section-header">Product Edit Requests</h1>

  <section id="product-edits-table">
    <table class="table table-striped">

      <thead>
        <tr class="product-edit-state-header">
          <th colspan="6" class="color-primary">Original Information</th>
          <th colspan="5" class="color-active original-edited-divider">Edited Information</th>
        </tr>
        <tr>
          <th></th>
          <th>Uploaded On</th>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Aisle</th>
          <th class="original-edited-divider">Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Aisle</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
      <% @product_edits.each do |product_edit| %>
          <tr>
            <td><img src="<%= product_edit.image_source %>" class="line-item-image"/></td>

            <td><%= "#{format_report_datetime(product_edit.created_at)}" %><br/><strong><%="by #{product_edit.shopper_name.capitalize}" %></strong></td>

            <td class="<%= product_edit.title_bg_class %>"><%= product_edit.title %></td>
            <td class="<%= product_edit.description_bg_class %>"><%= product_edit.description %></td>
            <td class="<%= product_edit.price_bg_class %>">$<%= product_edit.price %></td>
            <td class="<%= product_edit.aisle_bg_class %>"><%= product_edit.aisle %></td>

            <td class="<%= product_edit.title_bg_class %> original-edited-divider"><%= product_edit.title_new %></td>
            <td class="<%= product_edit.description_bg_class %>"><%= product_edit.description_new %></td>
            <td class="<%= product_edit.price_bg_class %>">$<%= product_edit.price_new %><br><%= "(#{product_edit.price_new_markup})" %></td>
            <td class="<%= product_edit.aisle_bg_class %>"><%= product_edit.aisle_new %></td>
            <td>
              
              <% if is_admin? %>
                <%= link_to product_edits_sync_path(product_edit), method: :post, class: 'btn btn-sm btn-warning' do %>
                  <% if product_edit.updated? %>
                    <span class="glyphicon glyphicon-refresh"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-ok"></span>
                  <% end %>
                <% end %>
              <% end %>

              <a href="<%= product_edit.shopify_url %>" class="btn btn-sm btn-default" target="_blank"><span class="glyphicon glyphicon-edit"></span></a>

              <% if is_admin? %>
                <%= link_to product_edit_path(product_edit), method: :delete, class: 'btn btn-sm btn-default', data:{confirm: 'Really delete product edit request?'} do %>
                    <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              <% end %>

              <% if product_edit.updated? %>
                  <p class="product-updated-icon"><span class="glyphicon glyphicon-ok-circle"></span> Updated</p>
              <% end %>

            </td>

          </tr>
      <% end %>
      </tbody>
    </table>
  </section>

</div>